* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
:root {
  --primary--color: #1f2937;
  --nav-pill-color: #374151;
}

.header {
  background-color: var(--primary--color);
  padding: 15px 2rem;
}

.logo {
  color: white;
}

.nav {
  display: flex;
  justify-content: end;
  gap: 15px;
}